.index {
    color: #ffffff;
}

.index .header, .index .content {
    position: relative;
}

.index .clothes_type {
    overflow-x: hidden;
    overflow-y: scroll;
}

.index .clothes_type::-webkit-scrollbar {
    display: none;
}

.index .type_choose {
    display: inline-block;
}

.index .left_side {
    width: 35%;
}

.index .right_side {
    margin-left: 35%;
    width: 65%;
}

.index .type_choose {
    display: inline-block;
    width: 150px;
    line-height: 150px;
    border-radius: 50%;
    border: 5px dotted #cccccc;
    text-align: center;
    margin-right: 15px;
    font-size: 22px;
}

.index .type_choose:hover{
    cursor: pointer;
}

.index .icon_add:hover {
    background: #cccccc;
}